:root {
  --main-color: #11adeb;
  --text-color: #000;
  --text-lighter-color: #555;
  --bg-color: #fff;
  --second-bg-color: #ddd;
  --vertical-line-color: #a5a5a5;

  --h1-font: 3.5rem;
  --h2-font: 2.5rem;
  --h4-font: 1.5rem;
  --p-font: 1rem;
}

body::before,
body::after {
  position: fixed;
  content: "";
  width: 2px;
  height: 100%;
  top: 60%;
  background-color: var(--vertical-line-color);
  z-index: 0;
}

body::before {
  left: 15%;
}

body::after {
  right: 15%;
}

.project-header {
  padding: 15px 15%;
}

.project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-lighter-color);
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.project-title h1 {
  font-size: 2rem;
}

.project-box {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 100px auto;
}

.project-text {
  width: 50%;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--text-color);
  backdrop-filter: brightness(95%);
  transition: all 0.3s ease;
}

.project-text h4 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.project-text p {
  line-height: 25px;
}

.project-media {
  width: 50%;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--text-color);
  transition: all 0.3s ease;
}

.project-media video {
  width: 100%;
  border-radius: 20px;
}

.project-text:hover + .project-media,
.project-text:hover + .project-text,
.project-text:hover {
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  margin: auto;
}

.call-to-action p {
  text-align: center;
  font-weight: 500;
  line-height: 25px;
}

.call-to-action a {
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.call-to-action a:hover {
  border-bottom: 2px solid var(--main-color);
}

/* ############################## Animation ############################## */
.anim-x-right {
  opacity: 0;
  transform: translateX(20%);
  animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ############################## Media Query ############################## */
@media (max-width: 1700px) {
  .project-header {
    padding: 15px 10%;
  }

  body::before {
    left: 10%;
  }

  body::after {
    right: 10%;
  }

  .project-title h4 {
    font-size: 1.2rem;
  }

  .project-title h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1380px) {
  .project-header {
    padding: 15px 5%;
  }

  body::before {
    left: 5%;
  }

  body::after {
    right: 5%;
  }

  .project-box h4 {
    font-size: 1.1rem;
  }

  .project-box p {
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  .project-box {
    flex-direction: column;
  }

  .project-text {
    width: 90%;
  }

  .project-media {
    width: 90%;
  }

  .project-title h4 {
    font-size: 1rem;
  }

  .project-title h1 {
    font-size: 1.6rem;
  }

  .project-box h4 {
    font-size: 1rem;
  }

  .project-box p {
    font-size: 14px;
  }
}
